@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans", sans-serif;
}
.p{
    margin-top: 10px;
}
.container{
    
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 70px;
    justify-content: space-evenly;


}
 img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    
    
}


.img1{
    position: relative;
}
.img1 .desc1{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(163, 23, 163);
  width: 200px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
  color: #fff;
}

.img2{
    position: relative;
}
.img2 .desc2{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(163, 23, 163);
  width: 200px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
  color: #fff;
}









