@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans", sans-serif;
}

.header{
    background-color: rgb(163, 23, 163);
    color: #fff;
    height: 50px;
    width: 100%;
   
    
}
.header h2{
   text-align: center;
  
  
}
.center {
    margin: 0 -50% 0 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 5%;
    border-radius: 10px;
    margin-top: 10px;
    
}
.h2{
    text-align: center;
    margin-top: 300px;
}
.p{
    text-align: center;
    padding-top: 10px;
}
.inputs{
    margin-top: 30px;
    
}
input{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 6px;
    width: 350px;
    padding: 10px 10px;  

}
.p2{
    margin-top: 10px;
}
.continue input{
    text-align: center;
    background-color: rgb(165, 31, 165);
    border: none;
    color: #fff;
    font-size: 20px;
    margin-top: 50px;
}